.svg {
  display: block;
  margin: rem-calc(26px 0 28px);
  text-align: center;

  svg {
    height: rem-calc(20px);
    width: rem-calc(20px);
  }
}

.footer {
  margin-top: rem-calc(40px);
  text-align: center;

  :global(.btn){
    max-width: rem-calc(210px);
    width: 100%;
  }
}
