.nav {
  ul {
    @include margin(0 -38px);
  }

  li {
    @include padding(0 38px);
  }

  a {
    @include font-size(14px);
    color: inherit;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: (16 / 14);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $primary;
    }
  }

}
