.cover {
  opacity: 0.31;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -16.5%);
  width: 130.208%;
}

.coverBottom {
  bottom: -1.28%;
  left: 50.2%;
  opacity: 0.31;
  transform-origin: 0 0;
  position: absolute;
  transform: translateX(-50%);
  width: 130.208%;
}


.coverBottomInner {
  transform: rotate(-180deg);
}
