$fonts: (
  'Volte': (
    600: (
      'normal': 'Volte-Semibold',
      'italic': 'Volte-SemiboldItalic'
    ),
    700: (
      'normal': 'Volte-Bold',
      'italic': 'Volte-BoldItalic'
    ),
  ),
);

@each $name, $weights in $fonts {
  @each $weight, $styles in $weights {
    @each $style, $file in $styles {
      @font-face {
        font-family: '#{$name}';
        src: url('../assets/fonts/#{$file}.eot');
        src: url('../assets/fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
          //url('../fonts/#{$file}.woff2') format('woff2'),
        url('../assets/fonts/#{$file}.woff') format('woff'),
        url('../assets/fonts/#{$file}.ttf') format('truetype');
        font-weight: #{$weight};
        font-style: #{$style};
        font-display: auto;
      }
    }
  }
}
